section.widget.subject-links.hidden-xs
  //- h3.widget-title.red.visible-sm News by Subject
  .row
    .col-sm-4.col-md-12
      ul.nav.nav-stacked
        li.active: a(href='/breaking-news').btn.btn-red
          | All Breaking News
          i.fa.fa-angle-right.pull-right
        li.break.hidden-sm
        li: a(href='#')
          | Agriculture
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Archaeology
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Atmospheric Science
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Biology
          i.fa.fa-angle-right.pull-right
    .col-sm-4.col-md-12
      ul.nav.nav-stacked
        li: a(href='/business-economics')
          | Business &amp; Economics
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Chemistry &amp; Physics
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Earth Science
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Education
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Mathematics
          i.fa.fa-angle-right.pull-right
    .col-sm-4.col-md-12
      ul.nav.nav-stacked
        li: a(href='#')
          | Medicine &amp; Health
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Policy &amp; Ethics
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Social &amp; Behavior
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Space &amp; Planetary
          i.fa.fa-angle-right.pull-right
        li: a(href='#')
          | Tech &amp; Engineering
          i.fa.fa-angle-right.pull-right

hr.hidden-xs.hidden-sm

section.widget.hidden-xs.hidden-sm
  h3.widget-title.blue Science Agencies on EurekAlert!
  .list-group
    a(href='/agency-link').list-group-item.agency
      .pull-left
        img(src='/img/DOE.png')
      .btn.btn-icon
        | U.S. Department of Energy
        i.fa.fa-angle-right.pull-right
    a(href='/agency-link2').list-group-item.agency
      .pull-left
        img(src='/img/NIH.png')
      .btn.btn-icon
        | U.S. National Institutes of Health
        i.fa.fa-angle-right.pull-right
    a(href='/agency-link3').list-group-item.agency
      .pull-left
        img(src='/img/NSF.png')
      .btn.btn-icon
        | U.S. National Science Foundation
        i.fa.fa-angle-right.pull-right

hr.hidden-xs.hidden-sm

section.widget.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad
    span.byline Sponsored in part by
    img(src='/img/ad-sample-1_300x250.jpg')
  hr.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad
    span.byline Sponsored in part by
    img(src='/img/ad-sample-1_300x100.jpg')
  hr.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad
    span.byline Sponsored in part by
    img(src='/img/ad-sample-1_300x600.jpg')
