section.widget.hidden-xs.hidden-sm
  h2.subhead Breaking News
  ul.article-links
    li.icon-right
      a(href='#').hero
        | NSF awards $12 million to SDSC to deply 'Comet' supercomputer
        p.meta_institute
          | University of California - San Diego
          span.icon
            i.fa.fa-clock-o
            | &nbsp;5s
    li.icon-right
      a(href='#')
        | Water for future Mars astronauts?
        p.meta_institute.icon
          | DOE/Los Alamos National Laboratory
          span.icon
            i.fa.fa-clock-o
            | &nbsp;44s
    li.icon-right
      a(href='#')
        | Scientists rig hospital-grade light blood flow imager on the cheap
        p.meta_institute
          | National Oceanic and Atmospheric Administration in Office of Ocean Exploration and Research
          span.icon
            i.fa.fa-clock-o
            | &nbsp;7m
    li.icon-right
      a(href='#')
        | S-equol supplements associated with improved measures of reproductive health in postmenopausal women
        p.meta_institute
          | California Institute of Technology
          span.icon
            i.fa.fa-clock-o
            | &nbsp;1h
  a(href='#').view-all
    | view all breaking news&nbsp;
    i.fa.fa-angle-right.hidden-xs

section.widget
  h3.widget-title.yellow Multi-Language News
  .widget-content
    .translations-nav.pull-up
      .row
        .col-xs-6
          a(href='#')
            | En Français 
            i.fa.fa-angle-right.pull-right
        .col-xs-6
          a(href='#')
            | Auf Deutsch
            i.fa.fa-angle-right.pull-right
        .col-xs-6
          a(href='#')
            | En Español
            i.fa.fa-angle-right.pull-right
        .col-xs-6
          a(href='#')
            | Em Português 
            i.fa.fa-angle-right.pull-right
        .col-xs-6
          a(href='#')
            | NEED TEXT 
            i.fa.fa-angle-right.pull-right
        .col-xs-6
          a(href='#')
            | NEED TEXT 
            i.fa.fa-angle-right.pull-right
        .col-xs-12
          a(href='#').red
            | EurekAlert!中文版 (Chinese) 
            i.fa.fa-angle-right.pull-right

hr.hidden-xs.hidden-sm
hr.major.visible-sm.visible-xs

section.widget
  h3.widget-title.blue Science Agencies on EurekAlert!
  .list-group.clearfix
    a(href='/agency-link').list-group-item.agency.col-md-12.col-sm-6
      .pull-left
        img(src='/img/DOE.png')
      .btn.btn-icon
        | U.S. Department of Energy
        i.fa.fa-angle-right.pull-right
    a(href='/agency-link2').list-group-item.agency.col-md-12.col-sm-6
      .pull-left
        img(src='/img/NIH.png')
      .btn.btn-icon
        | U.S. National Institutes of Health
        i.fa.fa-angle-right.pull-right
    a(href='/agency-link3').list-group-item.agency.col-md-12.col-sm-6
      .pull-left
        img(src='/img/NSF.png')
      .btn.btn-icon
        | U.S. National Science Foundation
        i.fa.fa-angle-right.pull-right

hr.hidden-sm.hidden-xs
hr.major.visible-sm.visible-xs

section.widget.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad.single
    span.byline Sponsored in part by
    img(src='/img/ad-sample-1_300x250.jpg')

hr.hidden-xs.hidden-sm

section.widget
  .row
    .col-md-12.col-sm-6.portal
      a(href='#')
        img(src='/img/portal-1_60x60.png',alt='Portals Image').img-circle
        div.title Cancer Research News
          small Breaking News in Cancer Research, Treatment and Prevention
          span eurekalert.org/cancer
    .col-md-12.col-sm-6.portal
      a(href='#')
        img(src='/img/portal-2_60x60.png',alt='Portals Image').img-circle
        div.title Science Reporting for Kids
          small Kid-Friendly Feature Stories, Games, Links &amp; Resources
          span eurekalert.org/kidsnews
    .col-md-12.col-sm-6.portal
      a(href='#')
        img(src='/img/portal-3_60x60.png',alt='Portals Image').img-circle
        div.title Marine Science News
          small Latest Research on Oceanography and Marine Science
          span eurekalert.org/marinescience
    .col-md-12.col-sm-6.portal
      a(href='#')
        img(src='/img/portal-4_60x60.png',alt='Portals Image').img-circle
        div.title Another Portal
          small This is another descriptor for a portal
          span cta text here

hr.hidden-sm.hidden-xs
hr.major.visible-sm.visible-xs

section.widget.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad.single
    span.byline Sponsored in part by
    img(src='/img/ad-sample-1_300x250.jpg')

hr.hidden-xs.hidden-sm

section.widget
  h3.widget-title.red Meetings Calendar
  .widget-content
    ul.article-links
      li: a(href='#')
        i.fa.fa-fw.fa-thumb-tack
        time(datetime='2013-11-17', pubdate).date 17 Nov – 21 Nov
        | Society of Environmental Toxicology and Chemistry (SETAC) North America 34th Annual Meeting
        span Nashville, TN, USA
      li: a(href='#')
        i.fa.fa-fw.fa-thumb-tack
        time(datetime='2013-11-20', pubdate).date 20 Nov – 24 Nov
        | "Die Oratorien Louis Spohrs. Kontext – Text – Musik" (The Oratorios of Louis Spohr)
        span Münster, Germany
      li: a(href='#')
        i.fa.fa-fw.fa-thumb-tack
        time(datetime='2013-11-21', pubdate).date 21 Nov
        | 2013 The Global Symposium on Social Sciences
        span Okinawa, Japan
    
  a(href='#').view-all
    | view all events&nbsp;
    i.fa.fa-angle-right.hidden-xs

hr.hidden-xs.hidden-sm

section.widget.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad
    span.byline Sponsored in part by
    img(src='/img/ad-sample-2_300x250.jpg')
  hr.hidden-xs.hidden-sm
  a(href='#').thumbnail.ad
    span.byline Sponsored in part by
    img(src='/img/ad-sample-1_300x250.jpg')
