section.widget
  .widget-content
    .contact-info
      p: strong Media Contact
      p
        | Julie Cohen
        br
        a(href='mailto:julie.cohen@ia.ucsb.edu') julie.cohen@ia.ucsb.edu
        br
        | 805-893-7220
        br
        a(href='#')
          i.fa.fa-twitter
          | &nbsp;@username
        br
        a(href='#')
          i.fa.fa-twitter
          | &nbsp;@ucsantabarbara
      p: a(href='#' target='_blank')
        | http://www.universityofcalifornia-santabarbara.edu/press&nbsp;
        i.fa.fa-sign-out

hr.hidden-xs.hidden-sm
hr.major.visible-xs.visible-sm

section.widget
  h3.widget-title.red More on this Press Release
  .widget-content
    aside.more
      a(href='#')
        h3 True colors: Female squid have two ways of changing color, according to a UCSB study
        p.meta_institute University of California - Santa Barbara
      dl.dl-horizontal.meta.stacked
        dt.yellow Journal
        dd.yellow: em JAMA: The Journal of the American Medical Association
        dt.green Funder
        dd.green NIH/National Cancer Institute, University of California
    hr.visible-sm
    .row
      .col-sm-6.col-md-12
        h4.widget-subtitle Keywords
        nav.tag-cloud
          ul.tags
            li: a(href='#') Biology
            li: a(href='#') Biodiversity
            li: a(href='#') Biomedical / Environmental / Chemical
            li: a(href='#') Earth Science
            li: a(href='#') Engineering
            li: a(href='#') Ecology / Environment
            li.active: a(href='#') Marine / Freshwater Biology
            li: a(href='#') Fisheries / Aquaculture
            li: a(href='#') Toxicology
            li: a(href='#') Zoology / Veterinary Science
      .col-sm-6.col-md-12
        h4.widget-subtitle Translations
        .translations-nav
          .row
            .col-xs-6.col-sm-12.col-md-6
              a(href='#')
                | En Français 
                i.fa.fa-angle-right.pull-right
            .col-xs-6.col-sm-12.col-md-6
              a(href='#')
                | En Auf Deutsch 
                i.fa.fa-angle-right.pull-right
            .col-xs-6.col-sm-12.col-md-6
              a(href='#')
                | Em Português
                i.fa.fa-angle-right.pull-right
            .col-xs-6.col-sm-12.col-md-6
              a(href='#', lang='ja', xml:lang='ja')
                | 日本のニュース
                i.fa.fa-angle-right.pull-right
    hr.visible-sm
    h4.widget-subtitle Multimedia
    .list-group
      a(href='#').list-group-item.multimedia
        .center-image.pull-left
          img(src='http://media.eurekalert.org/multimedia_prod/pub/web/81273_web.jpg', alt='Image Description')
        .desc
          | Female-Specific Iridescent Stripes in the Skin of the Common Market Squid
          .view-more.visible-sm
            | view more&nbsp;
            i.fa.fa-angle-right
      a(href='#').list-group-item.multimedia.active
        .center-image.pull-left
          img(src='http://media.eurekalert.org/multimedia_prod/pub/web/81238_web.jpg', alt='Image Description')
        .desc
          | Dissected Squid Mantles 
          b.label-type (Video)
          .view-more.visible-sm
            | view more&nbsp;
            i.fa.fa-angle-right
      a(href='#').list-group-item.multimedia
        .center-image.pull-left
          img(src='http://media.eurekalert.org/multimedia_prod/pub/web/81362_web.jpg', alt='Image Description')
        .desc
          | Interview with study authors Daniel Demartini and Daniel Morse 
          b.label-type (Audio)
          .view-more.visible-sm
            | view more&nbsp;
            i.fa.fa-angle-right
    hr.visible-sm
    h4.widget-subtitle Original Source
    a(href='#', target='_blank').original-source.break-text http://www.news.ucsb.edu/2013/0758/true-colors-female-squid-have-two-ways-switch-color 
      i.fa.fa-sign-out

hr.major

section.widget
  h3.widget-title.green More on Biology
  .widget-content
    ul.article-links
      li: a(href='#')
        i.fa.fa-fw.fa-plus-circle
        | UCSB researcher shows microplastic transfers chemicals, impacting health, relating to plastic ingestion
        span University of California - Santa Barbara
      li: a(href='#')
        i.fa.fa-fw.fa-plus-circle
        | Understanding hearing
        span Technische Universitaet Muenchen
      li: a(href='#')
        i.fa.fa-fw.fa-plus-circle
        | Hunter-gatherers and immigrant farmers lived together for 2,000 years in Central Europe
        span Johannes Gutenberg Universitaet Mainz
      li: a(href='#')
        i.fa.fa-fw.fa-plus-circle
        | Docetaxel or pemetrexed with cisplatin achieve comparable outcomes in non-squamous Lu Ca
        span European Society for Medical Oncology
  .text-center
    a(href='#').view-all
      | view all biology news&nbsp;
      i.fa.fa-angle-right.hidden-xs

hr.major

section.widget
  h3.widget-title.purple Trending Now
  .widget-content
    ul.article-links
      li: a(href='#')
        i.fa.fa-fw.fa-chevron-circle-up
        | Findings: How viral infection disrupts neural development in offspring, increasing risk of autism
        span University of California - Davis Health System
      li: a(href='#')
        i.fa.fa-fw.fa-chevron-circle-up
        | Scientists rig hospital-grade light blood flow imager on the cheap
        span The Optical Society
      li: a(href='#')
        i.fa.fa-fw.fa-chevron-circle-up
        | Strange behavior of bouncing drops demonstrates pilot-wave dynamics in action <b class="label">(Video)</b>
        span Johannes Gutenberg Universitaet Mainz
      li: a(href='#')
        i.fa.fa-fw.fa-chevron-circle-up
        | Massive spruce beetle outbreak in Colorado tied to drought, according to new CU study
        span University of Colorado at Boulder
  .text-center
    a(href='#').view-all
      | view all trending news&nbsp;
      i.fa.fa-angle-right.hidden-xs

hr.hidden-xs.hidden-sm